@charset "utf-8";
:root{
	--color--base: #333;
	--color--gray: #6C757D;
	--color--gold: #ffd700;
	--color--yellow: #FFC107;
	--color--blue: #3395FE;
	--color--red: #DC3545;
	--color--green: #4DA060;
}
@font-face {
	font-family: 'Gmarket Sans';    font-style: normal;    font-weight: 700;
	src: local('Gmarket Sans Bold'), local('GmarketSans-Bold'),
	url('https://script.gmarket.com/fonts/GmarketSansBold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('https://script.gmarket.com/fonts/GmarketSansBold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
	font-family: 'Gmarket Sans';    font-style: normal;    font-weight: 500;
	src: local('Gmarket Sans Medium'), local('GmarketSans-Medium'),
	url('https://script.gmarket.com/fonts/GmarketSansMedium.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('https://script.gmarket.com/fonts/GmarketSansMedium.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
	font-family: 'Gmarket Sans';    font-style: normal;    font-weight: 300;
	src: local('Gmarket Sans Light'), local('GmarketSans-Light'),
	url('https://script.gmarket.com/fonts/GmarketSansLight.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('https://script.gmarket.com/fonts/GmarketSansLight.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

*{box-sizing:border-box}
html,body{height:100%}
h1,h2,h3,h4,h5,h6{font-weight:600}
h1{font-size:26px}
h2{font-size:20px}
h3{font-size:16px}
label{margin:0;display:inline-block;vertical-align:middle;}
button{display:inline-block;vertical-align:middle;border:0;margin:0;padding:0;border-radius:3px !important}
button[disabled]{cursor:not-allowed}
input.form-control{display:inline-block;vertical-align:middle;width:200px;border-radius:3px !important;}
input.form-control.simple{color: #0056b3;padding: 2px 0 !important;height: calc(1em + 0.95rem + 2px);border: 0;}
input.custom-control-input{opacity: 1;appearance:none;z-index: auto;}
pre{position:relative;display:block;max-width:100%;vertical-align:middle;margin:0;padding:5px;font-size:16px}
pre span,
pre a{display:block;overflow:hidden;letter-spacing: -0.7px;text-overflow:ellipsis}
pre span::before,
pre a:not(.link__desabled)::before{content:'';display: inline-block;vertical-align: middle;margin: -2px 3px 0;}
pre span::before{
	width:18px;height:18px;background: url("data:image/svg+xml;utf8,<svg width='800px' height='800px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M11.25 17C11.25 17.4142 11.5858 17.75 12 17.75C12.4142 17.75 12.75 17.4142 12.75 17H11.25ZM15.25 9.75C15.25 10.1642 15.5858 10.5 16 10.5C16.4142 10.5 16.75 10.1642 16.75 9.75H15.25ZM7.25 9.75C7.25 10.1642 7.58579 10.5 8 10.5C8.41421 10.5 8.75 10.1642 8.75 9.75H7.25ZM15.7071 7.32544L16.2646 6.82371V6.82371L15.7071 7.32544ZM9.5 16.25C9.08579 16.25 8.75 16.5858 8.75 17C8.75 17.4142 9.08579 17.75 9.5 17.75V16.25ZM15 17.75C15.4142 17.75 15.75 17.4142 15.75 17C15.75 16.5858 15.4142 16.25 15 16.25V17.75ZM10 7.75H12V6.25H10V7.75ZM12 7.75H14V6.25H12V7.75ZM12.75 17V7H11.25V17H12.75ZM15.25 9.22222V9.75H16.75V9.22222H15.25ZM7.25 9.22222V9.75H8.75V9.22222H7.25ZM14 7.75C14.4949 7.75 14.7824 7.75196 14.9865 7.78245C15.0783 7.79617 15.121 7.8118 15.1376 7.8194C15.148 7.82415 15.1477 7.82503 15.1496 7.82716L16.2646 6.82371C15.96 6.4853 15.579 6.35432 15.2081 6.29891C14.8676 6.24804 14.4479 6.25 14 6.25V7.75ZM16.75 9.22222C16.75 8.71757 16.7513 8.27109 16.708 7.91294C16.6629 7.54061 16.559 7.15082 16.2646 6.82371L15.1496 7.82716C15.1523 7.83015 15.1609 7.83939 15.1731 7.87221C15.1873 7.91048 15.2048 7.97725 15.2188 8.09313C15.2487 8.34011 15.25 8.67931 15.25 9.22222H16.75ZM10 6.25C9.55208 6.25 9.13244 6.24804 8.79192 6.29891C8.42102 6.35432 8.04 6.4853 7.73542 6.82371L8.85036 7.82716C8.85228 7.82503 8.85204 7.82415 8.86242 7.8194C8.87904 7.8118 8.92168 7.79617 9.01354 7.78245C9.21765 7.75196 9.50511 7.75 10 7.75V6.25ZM8.75 9.22222C8.75 8.67931 8.75129 8.34011 8.78118 8.09313C8.7952 7.97725 8.81273 7.91048 8.8269 7.87221C8.83905 7.83939 8.84767 7.83015 8.85036 7.82716L7.73542 6.82371C7.44103 7.15082 7.3371 7.54061 7.29204 7.91294C7.24871 8.27109 7.25 8.71757 7.25 9.22222H8.75ZM9.5 17.75H15V16.25H9.5V17.75Z' fill='%23212121'/><path d='M2 12C2 7.28595 2 4.92893 3.46447 3.46447C4.92893 2 7.28595 2 12 2C16.714 2 19.0711 2 20.5355 3.46447C22 4.92893 22 7.28595 22 12C22 16.714 22 19.0711 20.5355 20.5355C19.0711 22 16.714 22 12 22C7.28595 22 4.92893 22 3.46447 20.5355C2 19.0711 2 16.714 2 12Z' stroke='%23212121' stroke-width='1.5'/></svg>") 50% 50% no-repeat;background-size:100% auto;opacity: .6;
}
pre a:not(.link__desabled){text-decoration: underline;}
pre a:not(.link__desabled)::before{
	width:20px;height:20px;background: url("data:image/svg+xml;utf8,<svg width='800px' height='800px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M11.2716 7.25C11.2716 6.83579 11.6073 6.5 12.0216 6.5H16.75C17.1642 6.5 17.5 6.83579 17.5 7.25V11.9785C17.5 12.3927 17.1642 12.7285 16.75 12.7285C16.3358 12.7285 16 12.3927 16 11.9785V9.06066L10.7803 14.2803C10.4874 14.5732 10.0126 14.5732 9.71967 14.2803C9.42678 13.9874 9.42678 13.5126 9.71967 13.2197L14.9393 8H12.0216C11.6073 8 11.2716 7.66421 11.2716 7.25Z' fill='%23212121'/><path d='M6.15675 5.25C6.57853 3.94437 7.80398 3 9.25 3H17.75C19.5449 3 21 4.45507 21 6.25V14.8382C21 16.1902 20.1745 17.3494 19 17.8392V17.9751C19 19.0247 18.4705 19.82 17.6913 20.3191C16.9414 20.7995 15.9737 21.0045 14.9977 20.9999L14.9963 20.9999L10.9191 20.9952L7 20.9951C5.84332 20.9951 4.83555 20.6327 4.11066 19.9496C3.38287 19.2639 3 18.3103 3 17.25V8.5C3 7.63484 3.21573 6.81725 3.73399 6.20358C4.26793 5.57135 5.04354 5.25 5.95588 5.25H6.15675ZM6 6.75H5.95588C5.41235 6.75 5.08501 6.92865 4.87998 7.17142C4.65927 7.43275 4.5 7.86516 4.5 8.5V17.25C4.5 17.9397 4.74213 18.4837 5.13934 18.8579C5.53944 19.2349 6.15669 19.4951 7 19.4951L10.9191 19.4952L15.0009 19.4999L15.0037 19.4999C15.7919 19.5038 16.4486 19.3338 16.8822 19.0561C17.254 18.8179 17.4641 18.5061 17.4958 18.0882H9.25C7.45508 18.0882 6 16.6332 6 14.8382V6.75ZM9.25 4.5C8.2835 4.5 7.5 5.2835 7.5 6.25V14.8382C7.5 15.8047 8.2835 16.5882 9.25 16.5882H17.75C18.7165 16.5882 19.5 15.8047 19.5 14.8382V6.25C19.5 5.2835 18.7165 4.5 17.75 4.5H9.25Z' fill='%23212121'/></svg>") 50% 50% no-repeat;background-size:100% auto;opacity: .6;
}
/* pre + pre{margin-top: -10px;} */
pre span + span{margin-top: 5px;}
.hide, hr{display:none}
a.link__desabled:visited,
a.link__desabled:hover,
a.link__desabled:focus,
.link__desabled:link{font-size:16px;color:#777;}
.link__desabled{display: inline;}
.hide_input{position:absolute;top:0;left:-20px;width:10px;border:0}
#wrap{height:100%}
#header{position:absolute;top:0;width:100%;height:180px;padding:15px 0;background-color:#FAFAFA;z-index:100}
#header .box__item{padding:0}
#header .header-title{padding-bottom:15px}
#header .form-control{width:150px}
#header h2 span{font-size:14px}
#header h2 span{font-size:14px}
#container{position:relative;height:100%;padding:190px 0 50px}
#container .box__item{margin-top:20px;padding-top:20px;border-top:1px solid #E5E5E5}
#container .box__item:first-child{margin-top:0;padding-top:0;border-top:0}
#container .box__item .form-control{width:350px}
#container .box__item pre span{display: block;}
#aside{position:absolute;left:0;width:220px;background-color:#FFF}
#aside input.form-control{width: 100%;}
#aside input.form-control + input.form-control{margin-top:10px}
#aside .type_trigger{margin-top:0px;width:100%;height:50px}
#contents{padding:0 10px 0 250px}
.page-title{position: fixed;left: 0;width: 100%;font-size: 24px;margin: 10px 0;text-align: center;display: block;}
.box__option-select{margin-top:20px;overflow:hidden}
.box__option-select dl{display:flex;flex-wrap: wrap;justify-content: space-between;margin-bottom: 0;}
.box__option-select dt{position:relative;width: 100%;padding:10px 0 0;clear:left}
.box__option-select dt:after{content:'';position:absolute;top:55%;left:0;display:block;width:100%;height:1px;background-color:#E5E5E5}
.box__option-select dt h3{position:relative;display:inline-block;padding-right:6px;background-color:#FFF;z-index:10}
.box__option-select dd{position: relative;width:calc(50% - 4px);}
.box__option-select dd.clear{clear: both;width: 100%;}
.box__option-select dd .custom-control-label::before,
.box__option-select dd .custom-control-label::after{left: 0;border-radius:50%;}
.box__option-select dd .custom-control-label::before{}
.box__option-select dd .custom-control-input:checked~.custom-control-label::before{color:#fff;border-color:#007bff;background-color:#007bff}
.box__option-select dd .custom-control-input:checked~.custom-control-label::after{width:6px;height:6px;background-color:#fff;border:5px solid #007bff;box-sizing:content-box}
.box__option-select dd .custom-control-input:checked:disabled~.custom-control-label::after{background-color:#fff;border:5px solid #B7D6F7}
.box__option-select dd label{position:relative;padding-left: 21px;display:block;margin:0;font-size:14px;line-height: 23px;cursor:pointer;}
.box__option-select dd input.custom-control-input{position: absolute;top: 0;left: 0;}
.box__option-select .type-button dd label{padding: 6px 10px;border: 1px solid #CED4DA;border-radius: 6px;text-align: center;}
.box__option-select .type-button dd .custom-control-label{opacity: .4;}
.box__option-select .type-button dd .custom-control-label::before,
.box__option-select .type-button dd .custom-control-label::after{display: none;}
.box__option-select .type-button dd .custom-control-input:checked~.custom-control-label{background-color: var(--color--gray);border-color: var(--color--gray);color: #fff !important;opacity: 1;font-family: verdana;}
.box__option-select .type-button dd [value=ebay]:checked~.custom-control-label{background-color: var(--color--yellow);border-color: var(--color--yellow);color: #fff !important;} /* yellow  */
.box__option-select .type-button dd #mockup:checked~.custom-control-label{background-color: var(--color--blue);border-color: var(--color--blue);color: #fff !important;} /* blue */
.box__option-select .type-button dd [value=iac]:checked~.custom-control-label,
.box__option-select .type-button dd #dev:checked~.custom-control-label{background-color: var(--color--red);border-color: var(--color--red);color: #fff !important;} /* red */
.box__option-select .type-button dd [value=gmkt]:checked~.custom-control-label,
.box__option-select .type-button dd #master:checked~.custom-control-label{background-color: var(--color--green);border-color: var(--color--green);color: #fff !important;} /* green */

.box__option-select dd input:checked + label{color:#3498DB;font-weight:600}
.box__form{display: flex;}
.box__form .box__h{}
.box__form .box__h .box__cell{display: flex;}
.box__form .box__h .box__cell > * + *{margin-left: 4px;}
.box__form .box__h .box__cell + .box__cell{margin-top: 4px;}
.box__form .box__info{white-space: nowrap;margin-right: 10px;}
.box__form .link__button{display: inline-block;vertical-align: middle;border: 1px solid #999;padding: 3px 10px;font-size: 12px;border-radius: 8px;}
.box__form .link__button.fav{color: #fff;background-color: #3182F6;border-color: #3182F6;}
#header .box__item,
#container{width:1200px;margin:0 auto;}

.select2-container--default .select2-search--dropdown .select2-search__field,
.select2-container .select2-selection--single{display: block;width: 100%;height: calc(1.5em + .75rem + 2px);padding: .375rem .75rem;font-size: 1rem;font-weight: 400;line-height: 1.5;color: #495057;background-color: #fff;background-clip: padding-box;border: 1px solid #ced4da;border-radius: .25rem;transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
.select2-search--dropdown{padding:0}
.select2-container--default .select2-selection--single .select2-selection__rendered{padding-left:0;color:#495057;line-height:23px}
.select2-container--default .select2-search--dropdown .select2-search__field{color:#495057}
.select2-container--default .select2-selection--single .select2-selection__arrow{height:95%}
.box__cell .select2-container--default .select2-search--dropdown .select2-search__field, 
.box__cell .select2-container .select2-selection--single{height: 28px;padding: 0 8px;}

.test{width:100% !important;height:auto;max-height:100px;overflow-y:auto}
.test:empty:before{display:block;content:attr(placeholder)}
.test:focus:before{display:none}

.calculator{padding-top:40px}
.calculator .inputbox span{position: relative;margin-bottom: 10px;display:flex;justify-content: space-between;}
#aside .calculator .inputbox span input{margin-top: 0 !important;width: 42%;box-sizing: border-box;}
.calculator .inputbox span .dd{border-color:#007BFF}
.calculator .inputbox span .mk{position: absolute;top: 0;left: 50%;width: 16%;height: 100%;transform:translateX(-50%)}
.calculator .inputbox span .mk button{position: relative;width: 100%;height: 100%;text-align: center;background-color: #fff;font-weight: bold;}
.calculator .btnbox{width:100%}
.calculator .btnbox .btn{width:100%}

.calc__inputbox{display: flex;align-items: center;}
.calc__inputbox .mk{display: block;text-align: center;min-width:20px;font-style: normal;}
.calc__inputbox input{text-align: right;}
.calc__inputbox input.per{width: 50px;}

#MergeUrl{min-height: 70px}
.box-flex{display: flex;width: 100%;justify-content: space-between;}
.box-flex .cell{min-width: 300px}
.box-flex .cell + .cell{}
.box-flex .cell .btn{width: 100%;margin-bottom: 5px;opacity: .6;}
.box-flex .cell .btn:hover,
.box-flex .cell .btn:focus{opacity: .9;}
.box-flex .cell ._code{width: 100% !important;min-height: 150px;font-size: 14px;line-height: 1.3;resize: none;}

/* coloring */
#container .box__item .select-domain .text__domain{font-family: Tahoma;}
#container .box__item .select-domain .text__domain{text-transform: uppercase;}
.box__option-select dd input#mockup:checked + label,
#container .box__item.select-mockup a{color: var(--color--blue);}
#container .box__item.select-mockup .select-domain{}
.box__option-select dd input#dev:checked + label,
#container .box__item.select-dev a{color: var(--color--red);}
#container .box__item.select-dev .select-domain{}
.box__option-select dd input#master:checked + label,
#container .box__item.select-master a,
#container .box__item.select-master .select-domain{color: var(--color--green);}
input#mockup:checked + .custom-control-label::after{border-color: var(--color--blue);}
input#dev:checked ~ .custom-control-label::after{border-color: var(--color--red);}
input#master:checked ~ .custom-control-label::after{border-color: var(--color--green);}
#container .box__item.select-gmkt .select-domain{color: var(--color--green);}
#container .box__item.select-iac .select-domain{color: var(--color--red);}
#container .box__item.select-ebay .select-domain{color: var(--color--yellow);}
#container.single-container{padding-top: 50px;}

